  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  body {
      font-family: Arial, Helvetica, sans-serif;
      background: #101827;
      color: #c7d5e0;
  }

  a {
      text-decoration: none;
      color: inherit;
  }

  .top-right {
      flex-direction: column;
  }

  .logoutBtn {
      background: #ff4c4c;
      color: white;
      padding: 8px 16px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      transition: background 0.2s ease-in-out;
  }

  .logoutBtn:hover {
      background: #e51f1f;
  }

  .logoutBtn:active {
      background: #c92f2f;
  }

  
  .top-bar {
      background: #171a21;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  h2.title-carro img{filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.986)); 
  }

  .container {
      padding: 10px 10px;
      width: 95%;
      max-width: 100%;
      margin: 0 auto;
  }

  .top-bar-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 0;
        
  }

  .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      
  }

  .logo-text {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
  }
 
  

  

  .main-nav {
      display: flex;
      gap: 20px;
      margin-left: 40px;
      font-size: 14px;
      text-transform: uppercase;
  }

  .main-nav a {
      color: #c7d5e0;
  }

  .main-nav a:hover {
      color: #ffffff;
  }

  .top-right {
      display: flex;
      gap: 15px;
      font-size: 12px;
  }



  .lang-select {
      padding: 4px 6px;
      background: #2a475e;
      border: none;
      color: #c7d5e0;
      font-size: 12px;
  }

 
  .sub-bar {
      background: linear-gradient(to right, #181c25, #101827);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  .sub-nav {
      display: flex;
      gap: 25px;
      padding: 12px 0;
      font-size: 15px;
  }

  .sub-nav a {
      position: relative;
      color: #abbbc6;
  }

  .sub-nav a:hover {
      color: #ffffff;
  }


  .sub-nav a:hover::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 3px;
      background: #1a9fff;
  }

 

  .agregar {
      background: #66c0f4;
      padding: 12px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: #000;
      font-weight: bold;
      margin-top: 10px;
  }

  .agregar:hover {
      transition: 0.3s;
      background-color: #eefecaed;
  }




  .container2 {
      padding: 40px;
      display: flex;
      height: 100vh;

  }


  .main-banner {
      display: flex;
      flex: 2;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
  }

  .banner-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(60%);
  }

  .banner-info {
      position: absolute;
      bottom: 40px;
      left: 40px;
      max-width: 600px;
  }

  .banner-info h2 {
      font-size: 24px;
      margin: 0;
  }

  .banner-info h1 {
      font-size: 60px;
      margin: 5px 0;
      font-weight: 900;
  }

  .sub {
      margin-top: 10px;
      font-weight: bold;
      color: #ccc;
  }

  .desc {
      margin: 15px 0;
      font-size: 18px;
  }

  .price {
      font-size: 20px;
      margin-bottom: 15px;
  }


  .buttons {
      display: flex;
      gap: 15px;
  }

  .play-btn {
      background: white;
      color: black;
      border: none;
      padding: 12px 25px;
      border-radius: 8px;
      font-size: 18px;
      cursor: pointer;
  }

  .wishlist-btn {
      background: transparent;
      color: white;
      border: 1px solid white;
      padding: 12px 25px;
      border-radius: 8px;
      font-size: 18px;
      cursor: pointer;
  }


  .sidebar {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      background: #12111197;
      overflow-y: auto;
  }

  .item {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 12px;
      border-radius: 10px;
      cursor: pointer;
      transition: .2s;
  }

  .item:hover {
      background: #222;
  }

  .item img {
      width: 120px;
      height: 65px;
      border-radius: 8px;
      object-fit: cover;
  }

  .item span {
      font-size: 16px;
  }






  main {
      padding: 20px 0 40px;
  }

  .content {
      display: flex;
      gap: 20px;
  }

  .left-column {
      flex: 2;
  }

  .section-title {
      font-size: 14px;
      color: #66c0f4;
      margin-bottom: 10px;
  }

  .game-list {
      background: radial-gradient(circle at top left, #2a475e 0, #1b2838 55%, #101827 100%);
      border-radius: 4px;
      overflow: hidden;
  }

  .game-item {
      display: flex;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  .game-item:last-child {
      border-bottom: none;
  }

  .game-thumb {
      width: 95%;
      background: linear-gradient(135deg, #1a9fff, #66c0f4);
      margin-right: 10px;
      border-radius: 2px;
  }

  .game-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
  }

  .game-title {
      font-weight: bold;
      margin-bottom: 4px;
  }

  .game-price {
      color: #acdbf5;
      font-weight: bold;
      white-space: nowrap;
  }

  .right-column {
      flex: 1;
  }

  .promo-box {
      background: #1b2838;
      border-radius: 4px;
      padding: 15px;
      font-size: 13px;
  }

  .promo-title {
      font-weight: bold;
      margin-bottom: 8px;
  }



 

  


  .carrito-empty-page {
      width: 100%;
      height: 100vh;
      background: #202021;
   
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
  }


  .carrito-empty-icon {
      width: 150px;
      margin-bottom: 20px;
  }


  .carrito-empty-title {
      font-size: 45px;
      font-weight: 700;
      margin-bottom: 20px;
  }


  .carrito-empty-btn {
      background: #00aaff;
      color: #000;
      border: none;
      padding: 15px 25px;
      font-size: 18px;
      font-weight: bold;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.2s;
  }

  .carrito-empty-btn:hover {
      background: #33bbff;
  }
.submenu{
    margin-top: -50px;
    display: flex;
    text-decoration: none;
  }

  .agregar-carrito{
    padding: 5px;
    background-color: #46b158;
    color:rgb(219, 219, 219);
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin-left: 20px;
}

  .contact-hero {
      height: 120px;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .contact-hero h1 {
      font-size: 40px;
      color: #fff;
      text-shadow: 0 0 10px #000;
  }


  .contact-main {
      max-width: 1200px;
      margin: auto;
      display: flex;
      gap: 40px;
      padding: 0px 20px;
  }


  .contact-form-container {
      flex: 2;
  }

  .contact-form {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
  }

  .contact-group {
      flex: 1;
      display: flex;
      flex-direction: column;
  }

  .contact-group-full {
      width: 100%;
      display: flex;
      flex-direction: column;
  }


  .contact-input,
  .contact-textarea {
      padding: 10px;
      border: none;
      border-radius: 5px;
      margin-top: 5px;
      background: #1b2435;
      color: #fff;
  }


  .contact-btn {
      background: #66c0f4;
      padding: 12px 25px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: #000;
      font-weight: bold;
      margin-top: 10px;
  }

  .contact-btn:hover {
      background: #8fd3ff;
  }


  .contact-company-info {
      flex: 1;
      background: #171d2b;
      padding: 20px;
      border-radius: 8px;
  }


  .contact-footer {
      background: #171d2b;
      padding: 20px 0;
      margin-top: 40px;
  }

  .contact-footer-container {
      max-width: 1200px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
  }

  .contact-footer a {
    padding: 20px;
      color: #66c0f4;
      text-decoration: none;
  }


  .login-container {
      margin: 80px auto;
      background: #1a1a1a;
      width: 500px;
      padding: 50px;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  }

  .login-container h2 {
      margin-bottom: 20px;
      font-weight: normal;
      text-align: center;
  }

  .form-group {
      margin-bottom: 18px;
  }

  .form-group label {
      display: block;
      margin-bottom: 6px;
      font-size: 14px;
      color: #ddd;
  }

  .form-group input {
      width: 100%;
      padding: 10px;
      border: none;
      outline: none;
      border-radius: 6px;
      background: #2a2a2a;
      color: #fff;
      font-size: 14px;
  }

  .remember-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0 20px 0;
    font-size: 14px;
    color: #ddd;
}

.remember-container input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.remember-container label {
    cursor: pointer;
}


  .btn-login {
      width: 100%;
      padding: 12px;
      background: #0078ff;
      border: none;
      border-radius: 6px;
      color: white;
      font-size: 15px;
      cursor: pointer;
      transition: 0.3s ease;
  }

  .btn-login:hover {
      background: #0a8bff;
  }

  .extra-links {
      margin-top: 15px;
      text-align: center;
      font-size: 13px;
  }

  .extra-links a {
      color: #58a6ff;
      text-decoration: none;
  }

  .extra-links a:hover {
      text-decoration: underline;
  }

  .register-container {
      margin: 80px auto;
      background: #1a1a1a;
      width: 380px;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  }

  .register-container h2 {
      margin-bottom: 20px;
      font-weight: normal;
      text-align: center;
  }

  .form-group {
      margin-bottom: 18px;
  }

  .form-group label {
      display: block;
      margin-bottom: 6px;
      font-size: 14px;
      color: #ddd;
  }

  .form-group input {
      width: 100%;
      padding: 10px;
      border: none;
      outline: none;
      border-radius: 6px;
      background: #2a2a2a;
      color: #fff;
      font-size: 14px;
  }

  .btn-register {
      width: 100%;
      padding: 12px;
      background: #00b347;
      border: none;
      border-radius: 6px;
      color: white;
      font-size: 15px;
      cursor: pointer;
      transition: 0.3s ease;
  }

  .btn-register:hover {
      background: #00c451;
  }

  .extra-links {
      margin-top: 15px;
      text-align: center;
      font-size: 13px;
  }

  .extra-links a {
      color: #58a6ff;
      text-decoration: none;
  }

  .extra-links a:hover {
      text-decoration: underline;
  }
  .titledashboard {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }


  .stats-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 25px;
}

.stat-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.2s;
}

.stat-card:hover {
    transform: translateY(-4px);
}

.stat-card h3 {
    font-size: 16px;
    color: #333;
}

.stat-card p {
    font-size: 28px;
    font-weight: bold;
    color: #111;
}




@media (max-width: 1200px) {
    .agregar-carrito{
        
    }
  .container2 {
      flex-direction: column;
      height: auto;
      padding: 20px;
  }

  .main-banner {
      height: 350px;
  }

  .sidebar {
      flex: none;
      height: auto;
      max-height: 300px;
  }
}




@media (max-width: 900px) {
    
    .header-title{
        font-size: 15px;
        flex-direction: column;
       
       
    }
    .agregar-carrito{
        margin-right: 10px;
    }


  .top-bar-inner {
      
      gap: 15px;
      padding: 20px 0;
  }

  

  .main-nav {
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      gap: 12px;
      margin-left: 0;
  }

  .top-right {
      width: 100%;
        justify-content: center;
  }

  .logoutBtn {
      width: 100%;
      text-align: center;
  }

  .sub-nav {
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
  }


  .container2 {
      flex-direction: column;
      padding: 20px;
      height: auto;
  }

  .main-banner {
      height: 280px;
  }

  .banner-info h1 {
      font-size: 36px;
  }

  .banner-info h2 {
      font-size: 18px;
  }

  .item img {
      width: 100px;
  }

  .content {
      flex-direction: column;
  }

  .left-column,
  .right-column {
      width: 100%;
  }

  .game-thumb {
      width: 120px;
  }


  .login-container,
  .register-container {
      width: 90%;
      padding: 25px;
  }

  .contact-main {
      flex-direction: column;
      padding: 20px;
  }

  .contact-company-info {
      order: -1;
  }
}


/* Contenedor del carrito */
#carrito {
    width: 100%;
    max-width: 650px;
    margin: 20px auto;
}

/* La tabla completa */
.tabla {
    width: 100%;
    border-collapse: collapse;
    background: #1b1b1b;
    color: white;
    border-radius: 8px;
    overflow: hidden;
}

/* Encabezados */
.tabla th {
    text-align: center;
    padding: 20px;
    background: #272727;
    font-size: 20px;
}

/* Filas */
.tabla td {
    
    padding: 10px;
    vertical-align: middle;
    border-bottom: 1px solid #333;
}

/* Imágenes dentro del carrito */
.tabla td img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

/* Botón eliminar */
.eliminar {
    background: #d9534f;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.eliminar:hover {
    background: #d20902;
}


#vaciar-carrito {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    padding: 8px 14px;
    background: #46b158;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}
#vaciar-carrito:hover{
    background-color: #f40000;
}





.carrito-container{
    padding: 50px;
}

.title-carro{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff; 
    padding: 20px;
}


@media (max-width: 500px) {
    
    .logo{
        flex-direction: column;
    }

  body {
      font-size: 14px;
  }

  .main-nav {
      
      text-align: center;
  }

  .sub-nav {
      font-size: 13px;
      gap: 10px;
  }

  .main-banner {
      height: 230px;
  }

  .banner-info {
      bottom: 20px;
      left: 20px;
  }

  .banner-info h1 {
      font-size: 28px;
  }

  .banner-info h2 {
      font-size: 16px;
  }

  .buttons {
      flex-direction: column;
  }

  .play-btn,
  .wishlist-btn {
      width: 100%;
      padding: 10px;
  }


  .sidebar {
      max-height: 220px;
  }

  .item img {
      width: 80px;
      height: 50px;
  }


  .game-item {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
  }

  .game-thumb {
      width: 100%;
      height: 120px;
  }

  .game-info {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
  }

  .carrito-empty-title {
      font-size: 28px;
  }

  .carrito-empty-btn {
      width: 90%;
      padding: 12px;
  }


  .contact-main {
      padding: 10px;
  }

  .contact-hero h1 {
      font-size: 26px;
  }
  .contact-footer {
        flex-direction: column;
        text-align: center;
  }
}

