  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  body {
      font-family: Arial, Helvetica, sans-serif;
      background: #101827;
      color: #c7d5e0;
  }

  a {
      text-decoration: none;
      color: inherit;
  }

  /* BARRA SUPERIOR */
  .top-bar {
      background: #171a21;
  }

  .container {
      padding: 10px 10px;
      width: 95%;
      max-width: 100%;
      margin: 0 auto;
  }

  .top-bar-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 0;
  }

  .logo {
      display: flex;
      align-items: center;
      gap: 10px;
  }

  .logo-text {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
  }

  /* main navegacion */

  .main-nav {
      display: flex;
      gap: 20px;
      margin-left: 40px;
      font-size: 14px;
      text-transform: uppercase;
  }

  .main-nav a {
      color: #c7d5e0;
  }

  .main-nav a:hover {
      color: #ffffff;
  }

  .top-right {
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 12px;
  }



  .lang-select {
      padding: 4px 6px;
      background: #2a475e;
      border: none;
      color: #c7d5e0;
      font-size: 12px;
  }

  /* BARRA SECUNDARIA (Explorar etc) */
  .sub-bar {
      background: linear-gradient(to right, #181c25, #101827);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  .sub-nav {
      display: flex;
      gap: 25px;
      padding: 12px 0;
      font-size: 15px;
  }

  .sub-nav a {
      position: relative;
      color: #abbbc6;
  }

  .sub-nav a:hover {
      color: #ffffff;
  }


  .sub-nav a:hover::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 3px;
      background: #1a9fff;
  }




  /* BANNER PRINCIPAL INDEX */
  .container2 {
      padding: 40px;
      display: flex;
      height: 100vh;

  }


  .main-banner {
      display: flex;
      flex: 2;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
  }

  .banner-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(60%);
  }

  .banner-info {
      position: absolute;
      bottom: 40px;
      left: 40px;
      max-width: 600px;
  }

  .banner-info h2 {
      font-size: 24px;
      margin: 0;
  }

  .banner-info h1 {
      font-size: 60px;
      margin: 5px 0;
      font-weight: 900;
  }

  .sub {
      margin-top: 10px;
      font-weight: bold;
      color: #ccc;
  }

  .desc {
      margin: 15px 0;
      font-size: 18px;
  }

  .price {
      font-size: 20px;
      margin-bottom: 15px;
  }

  /* BOTONES */
  .buttons {
      display: flex;
      gap: 15px;
  }

  .play-btn {
      background: white;
      color: black;
      border: none;
      padding: 12px 25px;
      border-radius: 8px;
      font-size: 18px;
      cursor: pointer;
  }

  .wishlist-btn {
      background: transparent;
      color: white;
      border: 1px solid white;
      padding: 12px 25px;
      border-radius: 8px;
      font-size: 18px;
      cursor: pointer;
  }

  /* SIDEBAR */
  .sidebar {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      background: #12111197;
      overflow-y: auto;
  }

  .item {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 12px;
      border-radius: 10px;
      cursor: pointer;
      transition: .2s;
  }

  .item:hover {
      background: #222;
  }

  .item img {
      width: 120px;
      height: 65px;
      border-radius: 8px;
      object-fit: cover;
  }

  .item span {
      font-size: 16px;
  }





  /*  CONTENIDO PRINCIPAL TIENDA */
  main {
      padding: 20px 0 40px;
  }

  .content {
      display: flex;
      gap: 20px;
  }

  .left-column {
      flex: 2;
  }

  .section-title {
      font-size: 14px;
      color: #66c0f4;
      margin-bottom: 10px;
  }

  .game-list {
      background: radial-gradient(circle at top left, #2a475e 0, #1b2838 55%, #101827 100%);
      border-radius: 4px;
      overflow: hidden;
  }

  .game-item {
      display: flex;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  .game-item:last-child {
      border-bottom: none;
  }

  .game-thumb {
      width: 180px;
      height: 70px;
      background: linear-gradient(135deg, #1a9fff, #66c0f4);
      margin-right: 10px;
      border-radius: 2px;
  }

  .game-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
  }

  .game-title {
      font-weight: bold;
      margin-bottom: 4px;
  }

  .game-price {
      color: #acdbf5;
      font-weight: bold;
      white-space: nowrap;
  }

  .right-column {
      flex: 1;
  }

  .promo-box {
      background: #1b2838;
      border-radius: 4px;
      padding: 15px;
      font-size: 13px;
  }

  .promo-title {
      font-weight: bold;
      margin-bottom: 8px;
  }


  @media (max-width: 900px) {

      .top-bar-inner,
      .content {
          flex-direction: column;
          align-items: flex-start;
      }

      .main-nav {
          margin-left: 0;
          flex-wrap: wrap;
      }

      .content {
          gap: 10px;
      }

      .game-thumb {
          width: 140px;
      }
  }

  /* carrito de compras */
  .carrito-empty-page {
      width: 100%;
      height: 100vh;
      background: #202021;
      /* color estilo Steam */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
  }

  /* ICONO */
  .carrito-empty-icon {
      width: 150px;
      margin-bottom: 20px;
  }

  /* TEXTO PRINCIPAL */
  .carrito-empty-title {
      font-size: 45px;
      font-weight: 700;
      margin-bottom: 20px;
  }

  /* BOTÓN */
  .carrito-empty-btn {
      background: #00aaff;
      color: #000;
      border: none;
      padding: 15px 25px;
      font-size: 18px;
      font-weight: bold;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.2s;
  }

  .carrito-empty-btn:hover {
      background: #33bbff;
  }


  /* soporte */
  

  /* HERO */
  .contact-hero {
      height: 120px;
      background-image: url('img/banner.jpg');
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .contact-hero h1 {
      font-size: 40px;
      color: #fff;
      text-shadow: 0 0 10px #000;
  }

  /* CONTENEDOR PRINCIPAL */
  .contact-main {
      max-width: 1200px;
      margin: auto;
      display: flex;
      gap: 40px;
      padding: 0px 20px;
  }

  /* FORMULARIO */
  .contact-form-container {
      flex: 2;
  }

  .contact-form {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
  }

  .contact-group {
      flex: 1;
      display: flex;
      flex-direction: column;
  }

  .contact-group-full {
      width: 100%;
      display: flex;
      flex-direction: column;
  }

  /* Inputs */
  .contact-input,
  .contact-textarea {
      padding: 10px;
      border: none;
      border-radius: 5px;
      margin-top: 5px;
      background: #1b2435;
      color: #fff;
  }

  /* Botón */
  .contact-btn {
      background: #66c0f4;
      padding: 12px 25px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: #000;
      font-weight: bold;
      margin-top: 10px;
  }

  .contact-btn:hover {
      background: #8fd3ff;
  }

  /* ASIDE INFO EMPRESA */
  .contact-company-info {
      flex: 1;
      background: #171d2b;
      padding: 20px;
      border-radius: 8px;
  }

  /* FOOTER CONTACTO */
  .contact-footer {
      background: #171d2b;
      padding: 20px 0;
      margin-top: 40px;
  }

  .contact-footer-container {
      max-width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-between;
  }

  .contact-footer a {
      color: #66c0f4;
      text-decoration: none;
  }